@model Financiera.Models.TiposObservaciones

@{
    ViewBag.Title = "Eliminar Tipo de Observación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span id="Message" class="d-none">@TempData["Error"]</span>
<div class="card-header">
    <i class="fas fa-table"></i>
    @ViewBag.Title
</div>
<div class="card-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Habilitado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.habilitado)
        </dd>

    </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }


</div>

<div class="card-footer small text-muted">Canal AUTOS - 2021</div>



