@model Financiera.Models.Solicitudes

@{
    ViewBag.Title = "Editar Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span id="Message" class="d-none">@TempData["Error"]</span>
<div class="card-header">
    <i class="fas fa-table"></i>
    @ViewBag.Title
</div>
<div class="card-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.idUsuario)
        @Html.HiddenFor(model => model.FechaCreacion)

        
        
        
        <div class="form-group">
            <label class="control-label col-md-3" for="idCliente">Cliente</label>
            <div class="col-md-10">
                <input id="IdClienteTag" class="form-control" value="@ViewBag.Cliente">
                @Html.EditorFor(model => model.idCliente, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="idClienteCotitular">Cotitular</label>
            <div class="col-md-10">
                <input id="IdClienteCotitular" class="form-control" value="@ViewBag.Conyuge">
                @Html.EditorFor(model => model.idConyuge, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                @Html.ValidationMessageFor(model => model.idConyuge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="idVendedor">Vendedor</label>
            <div class="col-md-10">
                <input id="IdVendedorTag" class="form-control" value="@ViewBag.Vendedor">
                @Html.EditorFor(model => model.idVendedor, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                @Html.ValidationMessageFor(model => model.idVendedor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="idEntidad">Entidad</label>
            <div class="col-md-10">
                @Html.DropDownList("idEntidad", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEntidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="monto">Monto</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuotas, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cuotas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cuotas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vehiculo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vehiculo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehiculo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="idEstado">Estado</label>
            <div class="col-md-10">
                @Html.DropDownList("idEstado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="idRechazo">Motivo Rechazo</label>
            <div class="col-md-10">
                @Html.DropDownList("idRechazo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idRechazo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="codigoEntidad">Codigo Entidad</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigoEntidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigoEntidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="entregaGestor">Entregado a Gestor</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.entregaGestor)
                    @Html.ValidationMessageFor(model => model.entregaGestor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="fechaEntregaGestor">Fecha Entregado a Gestor</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEntregaGestor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaEntregaGestor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="prendaInscripta">Prenda Inscripta</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.prendaInscripta)
                    @Html.ValidationMessageFor(model => model.prendaInscripta, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="fechaInscripcionPrenda">Fecha Inscripcion de Prenda</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaInscripcionPrenda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaInscripcionPrenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="fechaDevolucionPrenda">Fecha Devolución de Prenda</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaDevolucionPrenda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaDevolucionPrenda, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="fechaUltimoPago">Fecha Ultimo Pago</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaUltimoPago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaUltimoPago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="fechaFirma">Fecha Firma</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaFirma, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaFirma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3" for="fechaNuevaLlamada">Fecha Nueva Llamada</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaNuevaLlamada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaNuevaLlamada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
    }



</div>

<div class="card-footer small text-muted">Canal AUTOS - 2021</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">

        $(function () {

           


            $("#IdClienteTag").keypress(function () {
                $("#idCliente").val("");
            });
            $("#IdClienteTag").autocomplete({
              source: "@Url.Action("SearchClientes", "Clientes")",
              minLength: 1,
                select: function (event, ui) {
                    $("#idCliente").val(ui.item.id);
                }
            });

            $("#IdClienteCotitular").keypress(function () {
                $("#idConyuge").val("");
            });
            $("#IdClienteCotitular").autocomplete({
              source: "@Url.Action("SearchClientes", "Clientes")",
              minLength: 1,
                select: function (event, ui) {
                    $("#idCliente").val(ui.item.id);
                }
            });


            $("#IdVendedorTag").keypress(function () {
                $("#idVendedor").val("");
            });
            $("#IdVendedorTag").autocomplete({
              source: "@Url.Action("SearchVendedores", "Vendedores")",
              minLength: 1,
                select: function (event, ui) {
                    $("#idVendedor").val(ui.item.id);
                }
            });

            $("#fechaEntregaGestor").datetimepicker();
            $("#fechaInscripcionPrenda").datetimepicker();
            $("#fechaDevolucionPrenda").datetimepicker();
            $("#fechaUltimoPago").datetimepicker();
            $("#fechaFirma").datetimepicker();
            $("#fechaNuevaLlamada").datetimepicker();
            

            var message = $('#MessageError').text();


            if (message !== '') {

                toastr.options.closeHtml = '<button><i class="icon-off"></i></button>';
                //toastr.info('Are you the 6 fingered man?');
                //// Display a warning toast, with no title
                //toastr.warning('My name is Inigo Montoya. You killed my father, prepare to die!');

                //// Display a success toast, with a title
                //toastr.success('Have fun storming the castle!', 'Miracle Max Says');

                //// Display an error toast, with a title
                toastr.error(message, 'Error!', { timeOut: 5000 });

                //// Immediately remove current toasts without using animation
                //toastr.remove();

                //// Remove current toasts using animation
                //toastr.clear();

                //// Override global options
                //toastr.success('We do have the Kapua suite available.', 'Turtle Bay Resort', { timeOut: 5000 });
            }

        });

    </script>

}

