@model Financiera.Models.Observaciones

@{
    ViewBag.Title = "Eliminar Observación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<span id="Message" class="d-none">@TempData["Error"]</span>
<div class="card-header">
    <i class="fas fa-table"></i>
    @ViewBag.Title
</div>
<div class="card-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiposObservaciones.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposObservaciones.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.nombre)
        </dd>

    </dl>

    <div class="form-actions no-color">
        <input type="submit" value="Guardar" class="btn btn-success" />
        @Html.ActionLink("Volver", "Index", new { id = ViewBag.idSolicitud }, new { @class = "btn btn-danger" })
    </div>
    }


</div>

<div class="card-footer small text-muted">Canal AUTOS - 2021</div>



