@model Financiera.Models.Entidades

@{
    ViewBag.Title = "Crear Entidad Financiera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span id="Message" class="d-none">@TempData["Error"]</span>
<div class="card-header">
    <i class="fas fa-table"></i>
    @ViewBag.Title
</div>
<div class="card-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2" for="nombre">Nombre</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Habilitado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Habilitado)
                        @Html.ValidationMessageFor(model => model.Habilitado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="idCategoria">Categoria</label>
                <div class="col-md-10">
                    @Html.DropDownList("idCategoria", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idCategoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="idProvincia">Provincia</label>
                <div class="col-md-10">
                    @Html.DropDownList("idProvincia", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idProvincia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }



</div>

<div class="card-footer small text-muted">Canal AUTOS - 2021</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}